.main-div {
  border: 2px solid red;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}
.head-line {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.p1 {
  color: blue;
  font-size: 20px;
}
.p2 {
  color: green;
  font-size: 20px;
  text-align: right;
}
.p3 {
  color: tomato;
  font-size: 20px;
  text-align: center;
}
.p4 {
  color: slategray;
  font-size: 20px;
  text-align: justify;
}
.lists {
  display: flex;
  justify-content: center;
}
